<p id="notice"><%= notice %></p>

<center>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= render 'form', list: @list %>
    </div>
  </div>
</center><br/>


<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>

      <% if list.completed %>
        <tr class="table-secondary">
          <td class="striker"><%= link_to list.description, edit_list_path(list) %></td>
          <td>
            <center><%= link_to 'Remove', list, method: :delete, data: { confirm: 'Are you sure?' } %></center>
          </td>
        </tr>
      <% else %>
        <tr>
        <td><%= link_to list.description, edit_list_path(list) %></td>
        <td >
          <center><%= link_to 'Remove', list, method: :delete, data: { confirm: 'Are you sure?' } %></center>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
